body{
    background-color: #F5F5F5;
}
.dashboardlayout{
        height: 100vh;
        display: grid;
        grid-template-columns: 18rem 80rem;
        overflow: hidden;
}

/********** AppBar Style *********/

.logo{
    margin-left: 400px;
}
.AppBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#myAppBar{
    background-color: white;
    box-shadow: none;
}
.rightside-appbar{
    margin-left: auto;
}
.leftside-appbar{
    margin-right: auto;
}
#appbar-item{
    color:#7B5D6B;
}
#appbar-item:hover{
    background-color: #7b5d6b1a;
}


@media screen and (max-width: 768px) {
    .Appbar {
      flex-direction: column; /* Stacks the child divs vertically */
      height: auto; /* Automatically adjusts the height based on content */
    }
}

.main-container{
    height: 100vh;
    width:100vw;
    margin-left:100px;
    background-color: red;
}

.userName{
    color: #7B5D6B;
    font-size: 18px;
    font-weight: 500;
    margin-left:10px;
}

.notifications-icon{
    color: #7B5D6B;
}
.card-container{
    height:300px;
    width:100%;
    border-radius: 50px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
}

.card-title{
    color:#3D5D7E;
    font-weight: 500;
    font-size: 18px;
}
