body{
    background-color: #F5F5F5;
}
.dashboardlayout{
        height: 100vh;
        display: grid;
        grid-template-columns: 18rem 80rem;
        overflow: hidden;
}
.AppBar{
    background-color: #ff0000;/* Change to your desired color */
  }

#appbar-item{
    color:#7B5D6B;
}
#myAppBar{
    background-color: #FFFFFF;
}
.main-container{
    background-color: #7B5D6B;
    height: 100vh;
    width:100vw;
}