.actions-card{
display: flex;
flex-direction: row;
text-align: center;
margin-left: 50px;
margin-top: 30px;
}
.actions-item{
display: flex;
flex-direction: column;
gap:0;
border-radius: 4px;
height:150px;
width:150px;
margin-right:10px;
}
.actions-item-title{
    color:rgba(61, 93, 126, 1);
    margin: 0;
}
.actions-icon{
    margin-top: 20px;
}
.actions-data{
    font-weight: 600;
    font-size: 18px;
    color:rgba(61, 93, 126, 1);
    margin:0;
    margin-top: 3px;
}


/********** Profile Viewers Card *********/ 
.views-chart{
width:50%;
}


/******* Donut Chart ******/ 
.donutchart-label-investments{
    position: absolute;
    color: rgba(61, 93, 126, 1);
    top:25px;
    left:75px;
}
.donutchart-label{
position: absolute;
color: rgba(61, 93, 126, 1);
top:25px;
left:80px;
}

.donutchart-total{
font-weight: 500;
font-size: 30px;
text-align: center;
margin-bottom:0px;
}

.donutchart-title{
font-size: 20px;
margin:0px;
}
.summary-card{
    position: relative;
    display: flex;
    flex-direction: row;
}


/********* Service Line Chart ***********/

.service-linechart-card{
display: flex;
justify-content: space-between;
}

.linechart-filters-btn{
margin-left: auto;
}


.service-projects-card{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-left: 3%;
}
.service-numbers{
    margin-top: 20px;
}
.service-numbers p{
   color: #464F56;
   font-size: 10px;
   margin: 17px;

}



/************ Investments Section ***********/

.sellinvestments-content{
margin: 20px;
}
.nbofinvestments-card{
 margin-left: 65px;
}
.nbofinvestments-donutchart{
    position: relative;
    display: flex;
    flex-direction: row;
}

#get-seller-dashboard-btn:hover{
background-color: rgba(210, 183, 235, 1);
}

    /*---- properties invested card ----*/

.progressbar-data{
    display: flex;
    flex-direction: row;
    gap:130px;
    font-weight: 300;
    font-size: 14px;
}

.properties-invested-card{
    margin-left: 10px;
    padding-bottom: 20px;
}
.property-type-label{
    font-weight: 500;
    font-size: 16px;
}