/********* Profile ********/
.profile-settings-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.profile-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    margin-left: auto;
}
.profile-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}


.profile-settings-btn{
    display:flex;
    flex-direction:row;
    gap:15px;
    margin-top:100px;
    text-align:center;
    justify-content:center;  
    align-items: center; 
}

#profile-btn-save:hover{
    background-color: #C3A3B1;
}
#profile-btn-cancel:hover{
    background-color: #fcf4f4;
}


/************* Experience ************/

.profile-experience-container{
    display: flex;
    flex-direction: column;
    margin-left: 5vh;
    margin-top: 2vh;
}


.experience-description-title{
font-weight: 400;
font-size: 16px;

}

.user-experience-description{
    font-weight: 300;
    color:#555C64;
    display: flex;
    max-width :800px;;
}
.user-social-media{
    display: flex;
    flex-direction: row;
    gap:70px;
    padding-top: 40px;
}
.user-social-media span{
    margin-left: 10px;
    
}
.user-social-media-item{
    display: flex;
    flex-direction: column;
}
.user-social-media-item span{
    font-weight: 300;
    font-size: 15px;
    color:#0F1A24;
}

#add-experience-btn:hover{
    background-color:#6596C8;
    color: white;
}
.profile-add-btn{
    margin-top: 10px;
    background-color: #EEF6FE;
    font-weight: 300;
    font-size: 15px;
    border-radius:3px;
    
}

.resume{
    width:250px;
    height:40px;
}
#profile-experience-btn-label{
    padding: 8px 0px 10px 30px;
    color: #464F56;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}


.add-btns{
    display: flex;
    flex-direction: column;
    gap:20px;
    margin-top: 5%;
}

                    /******* Notifications **********/
                    

.notifications-day{
    display: flex;
    justify-content: center;
    color: white;
    background-color: #C3A3B1;
    font-weight: 300;
    font-size: 14px;
    height:40px;
    width:110px;
    border-radius: 2px;
    align-items: center;
}
.notifications-day span{
text-align: center;
}
.day-divider{
    margin-top: 30px;
}
#notifications-list-title{
    font-weight: 300;
    font-size: 10px; 
    font-family: 'Inter';
    color: #0F1A24;
    
}
