:root {
  line-height: 1.5;
  font-family: 'Inter', sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

}

@font-face {
  font-family: "InterMedium";
  src: local("InterMedium"),
   url("./fonts/Inter/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  }

  @font-face {
    font-family: "InterSemiBold";
    src: local("InterSemiBold"),
     url("./fonts/Inter/Inter-SemiBold.ttf") format("truetype");
    font-weight: 800;
    }

    @font-face {
      font-family: "InterBold";
      src: local("InterBold"),
       url("./fonts/Inter/Inter-Bold.ttf") format("truetype");
      font-weight: bold;
      }


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.apexcharts-legend.apx-legend-position-right{
  display: none;
}
#apexcharts5szytlmg{
  width:350px;
  height:600px;
}
#apexchartsoqpfyanl{
  width:350px;
  height:600px;
}
.MuiPaper-root.MuiPaper-elevation{
margin-top:0px;
}
.apexcharts-menu-icon{
  display: none;
}
.apexcharts-bar-area{
  margin-bottom: 10px;
}
.apexcharts-series{
  margin-bottom: 10px;
}
.apexcharts-legend.apexcharts-align-center.apx-legend-position-bottom {
  display: none;
}
.MuiDataGrid-root.MuiDataGrid-cell{
  color: 'red';
  background-color: 'red';
}
.MuiPaper-root.css-bhp9pd-MuiPaper-root-MuiCard-root{
border-radius: 12px;
}


.MuiTypography-root.MuiListItemText-primary{
  font-weight: 300;
  font-size: 15px;
}
.MuiTypography-root.MuiListItemText-secondary{
  font-weight: 300;
  font-size: 13px;
}


              /***** Profile Section******/



.MuiButtonBase-root.MuiTab-textColorPrimary.Mui-selected{
  color: #6596C8;
}
.MuiTabs-indicator.MuiTabs-indicator{
  color: #c865c3;
}
.MuiTabs-flexContainer.MuiTabs-centered.MuiTabs-flexContainer.MuiButtonBase-root{
  width:255px;
}
.MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary{
  color:#555C64;
  font-family: 'Inter', sans-serif;
  text-transform: none;
  font-size: 16px;
  font-weight: 300;
  
}
.MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary.Mui-selected{
  color: #6596C8;
}
.MuiTabs-indicator.MuiTabs-indicator{
  background-color: #6596C8;
}

/*  thiiiis */

/*.MuiButtonBase-root.MuiTab-root{
  width:255px;
  
}*/
/*.MuiTouchRipple-root.css-8je8zh-MuiTouchRipple-root{
  border: 1px solid #1a1a1a;
}*/




.css-1rekzbk-MuiButtonBase-root-MuiButton-root:hover {
background-color: red;
}
.MuiTabs-flexContainer.MuiTabs-centered.MuiButtonBase-root.MuiTab-root.css-1wf8b0h-MuiTabs-flexContainer.MuiButtonBase-root.MuiTab-root{
  width:255px;
}



.css-1gpke0k-MuiButtonBase-root-MuiButton-root:hover{
  background-color: #c865c3;
}

.MuiButtonBase-root.MuiButton-root{
  text-transform: none;
  min-width: fit-content;
  font-size: 14px;
}
.MuiButtonBase-root.MuiButton-root:focus{
outline: none;
}





          /****************** Email Generator **********/



          /****************** Carousel Card **********/
.carousel-card{
  height: 330px;
  width: 380px;
  border-radius: 20px;
  padding: 10px;
  top:0;
  left:0;
}
#my-svg{
  height: 100%;
  width: 100%;
  border-radius: 20px;
}
.card-data span{
  color:#0F1A24;
}
.card-data{
  display: flex;
  flex-direction: column;
  background-color:white;
  height: 150px;
  width: 350px;
  opacity: 0.7;
  margin-bottom: 20px;
  top:-150px;
  left:20px;
  border-radius: 20px;
}
.carousel-card, .card-data{
  position: relative;
}
.favorite-icon-div{
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.recharts-legend-wrapper{
  display:none;
}